/* Page */

:root {
	--btn-width: 20px;
	--fb-color: #3b5998;
	--fb-messenger-color: #0078ff;
	--twitter-color: #1da1f2;
	--pinterest-color: #bd081c;
	--linkedin-color: #0077b5;
	--whatsapp-color: #25d366;
	--skype-color: #00aff0;
	--telegram-color: #0088cc;
}

body::-webkit-scrollbar {
	width: 0px;
}

/* body::-webkit-scrollbar-track {
    background: rgb(207, 207, 207);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65);
} */

body,
html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url("./img/img1.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("./img/img2.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("./img/img3.jpg");
	min-height: 400px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

.pinterest-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Share Buttons Starts*/

/* 1. Default floating buttons */

.share-btn-container.float {
	background: rgb(233, 233, 233);
	display: flex;
	flex-direction: column;
	padding: 16px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.089);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}

.share-btn-container.float a i {
	font-size: 32px;
}

.share-btn-container.float a {
	margin: 12px 0;
	transition: 500ms;
}

.share-btn-container.float a:hover {
	transform: scale(1.2);
}

.share-btn-container .fa-facebook {
	color: var(--fb-color);
}

.share-btn-container .fa-twitter {
	color: var(--twitter-color);
}

.share-btn-container .fa-linkedin {
	color: var(--linkedin-color);
}

.share-btn-container .fa-pinterest {
	color: var(--pinterest-color);
}

.share-btn-container .fa-whatsapp {
	color: var(--whatsapp-color);
}

/* 2. Small buttons */

.share-btn-container.small {
	display: flex;
	justify-items: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.share-btn-container.small a i {
	font-size: var(--btn-width);
	margin-top: calc(var(--btn-width) / 1.7);
}
.share-btn-container.small a {
	text-align: center;
	background-color: rgb(233, 173, 173);
	width: calc(var(--btn-width) * 4.5);
	height: calc(var(--btn-width) * 2.2);
	margin: 20px 8px;
	border-radius: calc(var(--btn-width) * 0.99);
	-webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	transition: 200ms;
}
.share-btn-container.small .fa-facebook-f {
	color: white;
}
.share-btn-container.small .fa-twitter {
	color: white;
}
.share-btn-container.small .fa-pinterest-p {
	color: white;
}
.share-btn-container.small .fa-linkedin-in {
	color: white;
}
.share-btn-container.small .fa-whatsapp {
	color: white;
}
.share-btn-container.small a.fb-btn {
	background-color: var(--fb-color);
}
.share-btn-container.small a.twitter-btn {
	background-color: var(--twitter-color);
}
.share-btn-container.small a.pinterest-btn {
	background-color: var(--pinterest-color);
}
.share-btn-container.small a.linkedin-btn {
	background-color: var(--linkedin-color);
}
.share-btn-container.small a.whatsapp-btn {
	background-color: var(--whatsapp-color);
}
.share-btn-container.small a:hover {
	transform: scale(1.1);
	background-color: #000;
}

/* 3. Grid buttons*/

.share-btn-container.grid {
	display: grid;
	grid-template-columns: 250px 250px;
	margin-bottom: 20px;
	column-gap: 10%;
}
.share-btn-container.grid a {
	background-color: rgb(233, 173, 173);
	width: calc(var(--btn-width) * 12);
	margin-top: 20px;
	height: calc(var(--btn-width) * 2);
	border-radius: calc(var(--btn-width) * 0.2);
	text-decoration: none;
	overflow: hidden;
	transition: 60ms;
}
.share-btn-container.small .fa-facebook-f {
	color: white;
}
.share-btn-container.small .fa-twitter {
	color: white;
}
.share-btn-container.small .fa-pinterest-p {
	color: white;
}
.share-btn-container.small .fa-linkedin-in {
	color: white;
}
.share-btn-container.small .fa-whatsapp {
	color: white;
}
.share-btn-container.grid a.fb-btn {
	background-color: #506fb1;
}
.share-btn-container.grid a.twitter-btn {
	background-color: #3ab0fa;
}
.share-btn-container.grid a.pinterest-btn {
	background-color: #b93343;
}
.share-btn-container.grid a.linkedin-btn {
	background-color: #1d7fb4;
}
.share-btn-container.grid a.whatsapp-btn {
	background-color: #5ac782;
}
.share-btn-container.grid a i {
	font-size: var(--btn-width);
	margin: calc(var(--btn-width) * 0.6);
	color: white;
}
.share-btn-container.grid a .icon-bg {
	display: inline-block;
	text-align-last: center;
	position: absolute;
	border-radius: calc(var(--btn-width) * 0.2);
	height: calc(var(--btn-width) * 2);
	width: calc(var(--btn-width) * 2.2);
}
.share-btn-container.grid a .fb-icon-bg {
	background-color: var(--fb-color);
}
.share-btn-container.grid a .twitter-icon-bg {
	background-color: var(--twitter-color);
}
.share-btn-container.grid a .pinterest-icon-bg {
	background-color: var(--pinterest-color);
}
.share-btn-container.grid a .linkedin-icon-bg {
	background-color: var(--linkedin-color);
}
.share-btn-container.grid a .whatsapp-icon-bg {
	background-color: var(--whatsapp-color);
}
.share-btn-container.grid a .share-text {
	color: white;
	position: relative;
	left: 25%;
	top: 20%;
}
.share-btn-container.grid a:hover .icon-bg {
	background-color: rgb(59, 59, 59);
}
.share-btn-container.grid a:hover {
	background-color: #000;
}

/* 3. Share list*/

.share-btn-container.share-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.share-btn-container.share-list a {
	margin-top: 12px;
	margin-bottom: 12px;
	text-decoration: none;
	font-size: calc(var(--btn-width) * 0.85);
	font-weight: 600;
}
.share-btn-container.share-list a.fb-btn {
	color: var(--fb-color);
}
.share-btn-container.share-list a.twitter-btn {
	color: var(--twitter-color);
}
.share-btn-container.share-list a.pinterest-btn {
	color: var(--pinterest-color);
}
.share-btn-container.share-list a.linkedin-btn {
	color: var(--linkedin-color);
}
.share-btn-container.share-list a.whatsapp-btn {
	color: var(--whatsapp-color);
}

/* Messengers */

.share-btn-container.messengers {
	display: flex;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.share-btn-container.messengers a {
	margin: 10px;
	background-color: rgb(233, 173, 173);
	width: calc(var(--btn-width) * 11);
	margin-top: 20px;
	height: calc(var(--btn-width) * 2);
	border-radius: calc(var(--btn-width) * 0.2);
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	transition: 100ms;
}
.share-btn-container.small .fa-facebook-messenger {
	color: white;
}
.share-btn-container.small .fa-twitter {
	color: white;
}
.share-btn-container.small .fa-skype {
	color: white;
}
.share-btn-container.small .fa-telegram-plane {
	color: white;
}
.share-btn-container.small .fa-whatsapp {
	color: white;
}
.share-btn-container.messengers a.messenger-btn {
	background-color: #2e8efc;
}
.share-btn-container.messengers a.twitter-btn {
	background-color: #3ab0fa;
}
.share-btn-container.messengers a.skype-btn {
	background-color: #26b9ee;
}
.share-btn-container.messengers a.telegram-btn {
	background-color: #2a91c5;
}
.share-btn-container.messengers a.whatsapp-btn {
	background-color: #5ac782;
}
.share-btn-container.messengers a i {
	font-size: var(--btn-width);
	margin: calc(var(--btn-width) * 0.6);
	color: white;
}
.share-btn-container.messengers a .icon-bg {
	display: inline-block;
	text-align-last: center;
	position: absolute;
	border-radius: calc(var(--btn-width) * 0.2);
	height: calc(var(--btn-width) * 2);
	width: calc(var(--btn-width) * 2.2);
}
.share-btn-container.messengers a .messenger-icon-bg {
	background-color: var(--fb-messenger-color);
}
.share-btn-container.messengers a .twitter-icon-bg {
	background-color: var(--twitter-color);
}
.share-btn-container.messengers a .skype-icon-bg {
	background-color: var(--skype-color);
}
.share-btn-container.messengers a .telegram-icon-bg {
	background-color: var(--telegram-color);
}
.share-btn-container.messengers a .whatsapp-icon-bg {
	background-color: var(--whatsapp-color);
}
.share-btn-container.messengers a .share-text {
	color: white;
	position: relative;
	left: 25%;
	top: 20%;
}
.share-btn-container.messengers a:hover .icon-bg {
	background-color: rgb(59, 59, 59);
}
.share-btn-container.messengers a:hover {
	background-color: #000;
}
/* Media Queries */

@media (max-width: 550px) {
	.content {
		padding: 8px 32px;
	}

	.share-btn-container.float {
		transform: unset;
		top: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		flex-direction: row;
		box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
		padding: 16px 0;
		justify-content: center;
	}

	.share-btn-container.float a {
		margin: 0 32px;
	}
}

/* Share Buttons Ends*/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
	.bgimg-1,
	.bgimg-2,
	.bgimg-3 {
		background-attachment: scroll;
	}
}

/* ADI */

span {
	cursor: pointer;
}
.il-btn {
	display: flex;
	margin-top: 2rem;
	justify-content: center;
	font-size: 1rem;
}
.il-btn span {
	margin: 1rem;
	border-radius: 5px;
}
.il-btn .c {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.il-btn p {
	display: inline;
}
.il-btn a {
	text-decoration-line: none;
}
.il-btn .p {
	color: #fff;
	font-weight: 400;
	padding-left: 0.3rem;
}
.il-btn i {
	color: #fff;
}
.il-btn span:nth-child(1) {
	background-color: #1da1f2;
	height: 2rem;
	width: 6rem;
}
.il-btn span:nth-child(1) .c {
	background-color: #56b8f5;
	margin-top: 0.5rem;
	position: absolute;
	height: 2rem;
	width: 2rem;
	margin-top: -0.01rem;
}
.il-btn span:nth-child(1) .c i {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	color: #fff;
}

.il-btn span:nth-child(2) {
	background-color: #0077b5;
	height: 2rem;
	width: 7rem;
}
.il-btn span:nth-child(2) .c {
	background-color: #009ff5;
	margin-top: 0.5rem;
	position: absolute;
	height: 2rem;
	width: 2rem;
	margin-top: -0.01rem;
}
.il-btn span:nth-child(2) .c i {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}

.il-btn span:nth-child(3) {
	background-color: #bd081c;
	height: 2rem;
	width: 6.5rem;
}
.il-btn span:nth-child(3) .c {
	background-color: #f51933;
	margin-top: 0.5rem;
	position: absolute;
	height: 2rem;
	width: 2rem;
	margin-top: -0.01rem;
}
.il-btn span:nth-child(3) .c i {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}

.il-btn span:nth-child(4) {
	background-color: #25d366;
	height: 2rem;
	width: 7rem;
}
.il-btn span:nth-child(4) .c {
	background-color: #40dd7a;
	margin-top: 0.5rem;
	position: absolute;
	height: 2rem;
	width: 2rem;
	margin-top: -0.01rem;
}
.il-btn span:nth-child(4) .c i {
	margin-left: 0.5rem;
	color: #fff;
	margin-top: 0.5rem;
}

.il-btn .p {
	float: right;
	padding: 0.5rem;
}
.il-btn span:hover {
	transform: scale(1.3);
	transition: 0.7s;
}
/*float css*/
.float- span:nth-child(1) {
	padding: 0.5rem;
	padding-left: 0.9rem;
	display: block;
	max-width: 1.5rem;
	padding-top: 1rem;
	background: #1da1f2;
	padding-bottom: 0.7rem;
}
.float- span:nth-child(2) {
	padding: 0.5rem;
	padding-left: 0.9rem;
	display: block;
	max-width: 1.5rem;
	padding-top: 1rem;
	background: #0077b5;
	padding-bottom: 0.7rem;
}
.float- span:nth-child(3) {
	padding: 0.5rem;
	padding-left: 0.9rem;
	display: block;
	max-width: 1.5rem;
	padding-top: 1rem;
	background: #bd081c;
	padding-bottom: 0.7rem;
}
.float- span:nth-child(4) {
	padding: 0.5rem;
	padding-left: 0.9rem;
	display: block;
	max-width: 1.5rem;
	padding-top: 1rem;
	background: #25d366;
	padding-bottom: 0.7rem;
}
.float- a {
	text-decoration-line: none;
	color: #fff;
}

.float- .p {
	display: none;
}
.float- span:hover {
	background-color: black;
	transition: 0.5s;
}
/*Black Buttons*/
.black .p {
	display: none;
}
.black {
	display: flex;
	justify-content: center;
}
.black span {
	margin: 1rem;
	background-color: black;
	padding: 1rem;
	border: 1.2px solid #565656;
	border-radius: 5px;
}
.black a {
	color: #fff;
}
.black span:hover {
	transform: translateY(-10px);
	transition: 0.3s;
}
/*black button ends*/

/*round buttons start*/
.round p {
	display: inline;
}
.round .p {
	display: none;
}
.round a {
	text-decoration-line: none;
}
.round span:nth-child(1) {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #1da1f2;
}
.round span:nth-child(1) i {
	color: #fff;
}
.round span:nth-child(2) {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #0077b5;
}
.round span:nth-child(2) i {
	color: #fff;
}
.round span:nth-child(2) {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #0077b5;
}
.round span:nth-child(2) i {
	color: #fff;
}
.round span:nth-child(3) {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #bd081c;
}
.round span:nth-child(3) i {
	color: #fff;
}
.round span:nth-child(4) {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #25d366;
}
.round span:nth-child(4) i {
	color: #fff;
}
.round {
	display: flex;
	overflow: hidden;
	justify-content: center;
}
.round span:hover i {
	animation: up 1s;
}
/* round buttons end*/
/*animation*/
@keyframes up {
	0% {
		transform: translateY(0rem);
	}
	1% {
		transform: translateY(-3rem);
	}

	100% {
		transform: translateY(0rem);
	}
}
