/* Page */

:root {
	--btn-width: 20px;
	--fb-color: #3b5998;
	--twitter-color: #1da1f2;
	--pinterest-color: #bd081c;
	--linkedin-color: #0077b5;
	--whatsapp-color: #25d366;
}

body::-webkit-scrollbar {
	width: 0px;
}

/* body::-webkit-scrollbar-track {
    background: rgb(207, 207, 207);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65);
} */

body,
html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url("./img/img1.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("./img/img2.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("./img/img3.jpg");
	min-height: 400px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

.pinterest-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Share Buttons Starts*/

/* 1. Default floating buttons */

.share-btn-container.float {
	background: rgb(233, 233, 233);
	display: flex;
	flex-direction: column;
	padding: 16px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.089);
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}

.share-btn-container.float a i {
	font-size: 32px;
}

.share-btn-container.float a {
	margin: 12px 0;
	transition: 500ms;
}

.share-btn-container.float a:hover {
	transform: scale(1.2);
}

.share-btn-container .fa-facebook {
	color: var(--fb-color);
}

.share-btn-container .fa-twitter {
	color: var(--twitter-color);
}

.share-btn-container .fa-linkedin {
	color: var(--linkedin-color);
}

.share-btn-container .fa-pinterest {
	color: var(--pinterest-color);
}

.share-btn-container .fa-whatsapp {
	color: var(--whatsapp-color);
}

/* 2. Small buttons */

.share-btn-container.small {
	display: flex;
	justify-items: center;
	align-content: center;
	text-align: center;
}
.share-btn-container.small a i {
	font-size: var(--btn-width);
	margin-top: calc(var(--btn-width) / 1.7);
}
.share-btn-container.small a {
	text-align: center;
	background-color: rgb(233, 173, 173);
	width: calc(var(--btn-width) * 4.5);
	height: calc(var(--btn-width) * 2.2);
	margin: 20px 8px;
	border-radius: calc(var(--btn-width) * 0.99);
	-webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -2px rgba(0, 0, 0, 0.2);
	transition: 200ms;
}
.share-btn-container.small .fa-facebook-f {
	color: white;
}
.share-btn-container.small .fa-twitter {
	color: white;
}
.share-btn-container.small .fa-pinterest-p {
	color: white;
}
.share-btn-container.small .fa-linkedin-in {
	color: white;
}
.share-btn-container.small .fa-whatsapp {
	color: white;
}
.share-btn-container.small a.fb-btn {
	background-color: var(--fb-color);
}
.share-btn-container.small a.twitter-btn {
	background-color: var(--twitter-color);
}
.share-btn-container.small a.pinterest-btn {
	background-color: var(--pinterest-color);
}
.share-btn-container.small a.linkedin-btn {
	background-color: var(--linkedin-color);
}
.share-btn-container.small a.whatsapp-btn {
	background-color: var(--whatsapp-color);
}
.share-btn-container.small a:hover {
	transform: scale(1.1);
	background-color: #000;
}

/* 3. Grid buttons*/

.share-btn-container.grid {
	display: grid;
	grid-template-columns: 250px 250px;
	margin-bottom: 20px;
}
.share-btn-container.grid a {
	background-color: rgb(233, 173, 173);
	width: calc(var(--btn-width) * 11);
	margin-top: 20px;
	height: calc(var(--btn-width) * 2);
	border-radius: calc(var(--btn-width) * 0.2);
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	transition: 60ms;
}
.share-btn-container.grid a.fb-btn {
	background-color: #506fb1;
}
.share-btn-container.grid a.twitter-btn {
	background-color: #3ab0fa;
}
.share-btn-container.grid a.pinterest-btn {
	background-color: #b93343;
}
.share-btn-container.grid a.linkedin-btn {
	background-color: #1d7fb4;
}
.share-btn-container.grid a.whatsapp-btn {
	background-color: #5ac782;
}
.share-btn-container.grid a i {
	font-size: var(--btn-width);
	margin: calc(var(--btn-width) * 0.6);
	color: white;
}
.share-btn-container.grid a .icon-bg {
	display: inline-block;
	text-align-last: center;
	position: absolute;
	border-radius: calc(var(--btn-width) * 0.2);
	height: calc(var(--btn-width) * 2);
	width: calc(var(--btn-width) * 2.2);
}
.share-btn-container.grid a .fb-icon-bg {
	background-color: var(--fb-color);
}
.share-btn-container.grid a .twitter-icon-bg {
	background-color: var(--twitter-color);
}
.share-btn-container.grid a .pinterest-icon-bg {
	background-color: var(--pinterest-color);
}
.share-btn-container.grid a .linkedin-icon-bg {
	background-color: var(--linkedin-color);
}
.share-btn-container.grid a .whatsapp-icon-bg {
	background-color: var(--whatsapp-color);
}
.share-btn-container.grid a .share-text {
	color: white;
	position: relative;
	left: 25%;
	top: 20%;
}
.share-btn-container.grid a:hover .icon-bg {
	background-color: rgb(59, 59, 59);
}
.share-btn-container.grid a:hover {
	background-color: #000;
}

/* 3. Share list*/

.share-btn-container.share-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.share-btn-container.share-list a {
	margin-top: 12px;
	margin-bottom: 12px;
	text-decoration: none;
	font-size: calc(var(--btn-width) * 0.85);
	font-weight: 600;
}
.share-btn-container.share-list a.fb-btn {
	color: var(--fb-color);
}
.share-btn-container.share-list a.twitter-btn {
	color: var(--twitter-color);
}
.share-btn-container.share-list a.pinterest-btn {
	color: var(--pinterest-color);
}
.share-btn-container.share-list a.linkedin-btn {
	color: var(--linkedin-color);
}
.share-btn-container.share-list a.whatsapp-btn {
	color: var(--whatsapp-color);
}
/* Media Queries */

@media (max-width: 550px) {
	.content {
		padding: 8px 32px;
	}

	.share-btn-container.float {
		transform: unset;
		top: unset;
		left: 0;
		bottom: 0;
		width: 100%;
		flex-direction: row;
		box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
		padding: 16px 0;
		justify-content: center;
	}

	.share-btn-container.float a {
		margin: 0 32px;
	}
}

/* Share Buttons Ends*/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
	.bgimg-1,
	.bgimg-2,
	.bgimg-3 {
		background-attachment: scroll;
	}
}
